* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  color: #fff;
  background-color: #253241;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 900;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.roll {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: white;
  background-color: #1f2b37;
  text-decoration: none;
  font-size: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 900;
  border: 5px solid #fff;
  padding: 0.5em 2em;
  border-radius: 3em;
  transition: 200ms ease-in-out;
}

.roll:hover {
  background-color: #fff;
  color: #253241;
}

.names {
  font-size: 2.5rem;
}

.winner {
  font-size: 4rem;
  text-align: center;
}

.winner span {
  font-size: 0.35em;
  font-weight: 500;
}

.roll-again {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 700;
  padding: 0;
  margin-top: 2em;
  color: #fff;
  border: none;
  opacity: 0.5;
  transition: 200ms ease-in-out;
}

.roll-again:hover {
  opacity: 1;
}

.hide {
  display: none;
}